/*principais*/

@font-face {
    font-family: "rpg";
    src: url(fontes/Krabby\ Patty.ttf);
}
@font-face {
    font-family: "rpg2";
    src: url(fontes/Sketch\ 3D.woff);
}
@font-face {
    font-family: "rpg3";
    src: url(fontes/Turtles.otf);
}
@font-face {
    font-family: "front";
    src: url(fontes/i_fink_u_freeky.ttf);
}

/*tags*/

body
{
    background-color: rgb(53, 53, 50);
    width: 2000;
    height: 2000;
}
button
{
    width: 150px;
    height: 50px;
    color: #0C57A1;
    font-weight: 900;
    border-radius: 25px;
    border-style: outset;
    border: 0px;
    border-color: #02284D;
    background-color: rgb(19, 18, 18);
    margin-top: 25px;
    margin-bottom: 25px;
}
h1
{
    font-family: front, Arial;
    font-weight: 300;
}
h3
{
    color: rgb(255, 255, 255);
    font-family: front, Arial;
    font-size: 30px;
    font-weight: 100;
}
div
{
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea
{
    border-radius: 25px;
}


/*---------classes----------*/

.divplayer
{
    position: absolute;
    top: 50%;
    left: 50%;
}
.button_ex1
{
    width: 150px;
    height: 50px;
    color: #08a162;
    font-weight: 900;
    border-radius: 25px;
    border-style: outset;
    border: 0px;
    border-color: rgb(100, 138, 13);
    background-color: rgb(1, 29, 29)3;
}
.Btn_return
{
    width: 80px;
    height: 80px;
    color: #0C57A1;
    font-weight: 900;
    border-radius: 40px;
    border-style: outset;
    border-width: 4px;
    border-color: #02284D;
    background-color: rgb(19, 18, 18);
}
.player
{
    width: 150px;
    height: 150px;
}
.input_player
{
    position: absolute;
    opacity: 0;
    width: 150px;
    height: 150px;
}

/*itens*/

#leftdiv
{
    background: linear-gradient(rgb(39, 39, 39) 0%, black 110%);
    margin: -8px;
    border: 0px solid #C68400;
    position: fixed;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}
#rightdiv
{
    background: linear-gradient(rgb(39, 39, 39) 0%, black 110%);
    margin: -8px;
    border: 0px solid #C68400;
    position: fixed;
    left: 66%;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}
#mapa
{
    width: 3000px;
    height: 2000px;
    position: absolute;
}
#T_zoom
{
    position: relative;
    top: 13px;
    margin-right: 50px;
    background-color: #ebf5ff;
}

#objetos_left
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
}
#maps
{
    width: 298px;
    height: 500px;
    opacity: 0;
}

#mudar_mapa
{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#excluir_player
{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#btn_div
{
    width: 900px;
    justify-content: space-evenly;
}
#div_dice
{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#prompt_BM
{
    border-radius: 5px;
    border: 0 none;
    outline: 0;
    top: 50%;
    color: rgb(49, 49, 49);
    resize: none;
}
#Big_Meow
{
    width: 200px;
    height: 200px;
    position: relative;
    top: -10%;
}
#objetos_right
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
}
#output_BM
{
    position: relative;
    overflow-y: visible;
    color: rgb(66, 66, 66);
    background-color: rgb(192, 192, 192);
    top: -5%;
    text-align: center;
}
#perso_div
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#criar_player
{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#Name_player
{
    background: linear-gradient(90deg, white 0%, black 350%);
    resize: none;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
#ficha_player
{
    background: linear-gradient(135deg, white 0%, black 300%);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    text-align: center;
    color: rgb(126, 126, 126);
}